.home-page{
    height: 100%;
    padding: 50px 100px;
    .header{
        height: calc(100vh - 100px);
        h1{
            text-align: center;
            font-size: 40px;
            margin-bottom: 40px;
        }
        .wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;

            
            .left{
                flex: 2;
                background-color: azure;
                padding: 50px;
                .greet{
                    margin-bottom: 10px;
                    border: 1px solid greenyellow;
                    width: fit-content;
                    padding: 4px 13px;
                    border-radius: 8px;
                }
                .header-text{
                    h3{
                        font-size: 35px;
                        padding: 0 50px 20px 0;
                        line-height: 1.3;
                        span{
                            color: aqua;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    padding: 8px 14px;
                    border: 1px solid ;
                    border-radius: 5px;
                }
            }

            .right{
                flex: 1;
            }
        }

    }
}